body {
    font-family: "Roboto", sans-serif;
}

.content-main header {
    background-color: lightskyblue;
    color: white;
    text-align: center;
    padding: .25rem; 
}

.container-form {
    margin: 10px;
}

.container-employee {
    margin: 20px;
    margin-left: 10px;
}

.employee-display {
    list-style-type: none;
}

.blk-border {
    border: 2px solid black;
}

.field {
    width: 8rem;
}

.btn {
    border-radius: 5px;
    width: 6rem;
}

.btn.delete {
    width: 4rem;
}

table {
    padding: 5px;
    border: 2px solid black;
    width: 100%;
}

table td {
    padding: 5px;
    text-align: center;
    border: 2px solid lightskyblue;
}

.row-head {
    background-color: lightgray;
}

.container-total {
    margin: 20px;
    float: right;
}

.red-border {
    border: 2px solid red;
}

.red {
    background-color: red;
    color: white;
}

