body {
    font-family: "Roboto", sans-serif;
}

.content-main header {
    background-color: gray;
    color: white;
    text-align: center;
    padding: .25rem; 
}

.container-form input, button {
    border: 2px black solid;
}

.btn {
    border-radius: 5px;
    width: 6rem;
}

.btn.delete {
    width: 4rem;
}
