body {
    font-family: "Roboto", sans-serif;
}

.content-main header {
    background-color: gray;
    color: white;
    text-align: center;
    padding: .25rem; 
}

.container-form {
    padding: .5rem;
}

.container-employee {
    margin-bottom: 10px;
}

.employee-display {
    list-style-type: none;
}

.blk-border {
    border: 2px solid black;
}

.field {
    width: 8rem;
}

.btn {
    border-radius: 5px;
    width: 6rem;
}

.btn.delete {
    width: 4rem;
}

table {
    padding: 5px;
    border: 2px solid black;
}

table td {
    padding: 5px;
    text-align: center;
    border: 2px solid blue;
}

.container-total {
    float: right;
}

